client
server
client.dSYM/
.codelite/
chat/chat.project
http/.codelite/
http/http.project
http/httpclient
sockets.workspace
http/src/httprequest.o

# autoconf files
http/.deps/
http/Makefile
http/Makefile.in
http/aclocal.m4
http/autom4te.cache/
http/build-aux/
http/config.log
http/config.status
http/configure
http/src/.deps/
http/src/.dirstamp
http/src/config.h
http/src/config.h.in
http/src/httpclient.o
http/src/stamp-h1
Makefile
core
http.mk

