chat/chat.workspace
chat/.codelite/
chat/chat.project
chat/client
chat/client.dSYM/
chat/server
chat/.DS_Store
chat/Makefile
chat/Makefile.in
chat/aclocal.m4
chat/autom4te.cache/
chat/build-aux/
chat/config.log
chat/config.status
chat/configure
chat/src/client/.deps/
chat/src/client/.dirstamp
chat/src/client/client.o
chat/src/config.h
chat/src/config.h.in
chat/src/config.h.in~
chat/src/server/.deps/
chat/src/server/.dirstamp
chat/src/server/server.o
chat/src/stamp-h1
chat/src/server/clients.o
