Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
client
config.log
config.status
configure
server
src/client/.deps/
src/client/.dirstamp
src/client/client.o
src/config.h
src/config.h.in
src/config.h.in~
src/server/.deps/
src/server/.dirstamp
src/server/clients.o
src/server/server.o
src/stamp-h1
src/proto/.deps/
src/proto/.dirstamp
src/proto/proto.o

.codelite/
ipchat.project
ipchat.workspace

